
body{
  background: rgb(244, 248, 249)
}
button{
  background:        rgb(255, 255, 255);
}
#twitt{
  float: left;
  width:1030px;
  background:        rgb(255, 255, 255);
  border:            rgb(225, 232, 237);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:              rgb(0, 0, 0);
  margin: 10px 10px 10px 10px;
  padding: 30px 30px 30px 30px;
  border: 3px solid rgb(200, 200, 200);
  border-radius : 10px;
}
#twitt-head{
  float: left;
  width:1000px;
}
#head{
  float:left;
  height: 100px;
  width:1000px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#user-head {
  /*float:left;*/
  height: 100px;
  width:500px;
}
#avatarpicture-user-head {
  float:left;
  height: 90px;
  width:90px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#actual-avatarpicture-user-head {
  /*float:left;*/
  width: 90px;
}
#information-user-head {
  float:left;
  width:400px;
}
#status-information-user-head{
  float:left;
  height: 50px;
  width:400px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
}
#emoticon-status-information-user-head {
  /*float:left;*/
  width:20px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
}
#actual-emoticon-status-information-user-head {
  /*float:left;*/
  width:20px;
}
#name-status-information-user-head {
  /*float:left;*/
  width:70px;
  display: flex;
  align-items:center;
}
#actual-name-status-information-user-head {
  /*float:left;*/
  line-height: 0;
  width:70px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
}
#validation-status-information-user-head {
  /*float:left;*/
  width:50px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
}
#actual-validation-status-information-user-head {
  /*float:left;*/
  width:50px;
}
#account-information-user-head {
  float:left;
  height: 50px;
  width:100px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#actual-account-information-user-head {
  /*float:left;*/
  line-height: 0;
  height: 70px;
  width:100px;
  color: rgb(104, 109, 129);
  font-size: 30px;
}
#follow-head {
  /*float:right;*/
  height: 70px;
  width: 500px;
}
#button-follow-head {
  float:right;
  height: 70px;
  width:170px;
  color: rgb(85, 172, 238);
  border-color: rgb(85, 172, 238);
  border        : 3px solid;
  border-radius : 10px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
  padding: 0px 10px 0px 10px;
}
#image-button-follow-head {
  /*float:left;*/
  width:100px;
}
#text-button-follow-head {
  /*float:right;*/
  line-height: 0;
  width:100px;
  font-size: 30px;
  font-weight: bold;
}
#twitt-content{
  float:left;
  width:1000px;
}
#message-content {
  float:left;
  height: 40px;
  width:1000px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#actual-message-content {
  /*float:left;*/
  line-height: 0;
  width:1000px;
  font-size: 30px;
}
#twitt-time{
  float: left;
  width:1000px;
  color: rgb(101, 116, 127);
}
#date-time {
  float:left;
  height: 40px;
  width:1000px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#actual-date-time {
  /*float:left;*/
  line-height: 0;
  width:1000px;
  font-size: 30px;
}
#twitt-options{
  float:left;
  width:1000px;
  color: rgb(105, 120, 130);
}
#options{
  float:left;
  height: 50px;
  width:1000px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#reply-options {
  /*float:left;*/
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#button-reply-options {
  /*float:left;*/
  height: 50px;
  width: 50px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
  padding: 0px 10px 0px 10px;
  border        : none;
}
#image-button-reply-options {
  /*float:left;*/
  width:30px;
}
#retweet-options {
  float:left;
  height: 50px;
  width: 170px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#button-retweet-options {
  /*float:left;*/
  height: 50px;
  width: 170px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
  padding: 0px 10px 0px 10px;
  border        : none;
}
#image-button-retweet-options {
  /*float:left;*/
  width:30px;
  margin-right: 10px;
}
#text-button-retweet-options {
  /*float:right;*/
  line-height: 0;
  width:100px;
  font-size:30px;
  font-weight: bold;
  color: rgb(105, 120, 130);
}
#favorite-options {
  float:left;
  height: 50px;
  width: 170px;
  display: flex;
  align-items: center; /*deactivates float of immediate childs*/
}
#button-favorite-options {
  /*float:left;*/
  height: 50px;
  width: 170px;
  display: flex;
  align-items:center; /*deactivates float of immediate childs*/
  padding: 0px 10px 0px 10px;
  border        : none
}
#image-button-favorite-options {
  /*float:left;*/
  width:30px;
  margin-right: 10px;
}
#text-button-favorite-options {
  /*float:right;*/
  line-height: 0;
  width:100px;
  font-size:30px;
  font-weight: bold;
  color: rgb(105, 120, 130);
}
